##**Weather's Dangerous Impact on Accidents in maryland**


1.  ADD an Image--?

# **Data Preprocessing**

##**Importing Libraries**

In [1]:
#Data Manipulation
import pandas as pd
#Artithmetic Calculations
import numpy as np
#Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt

#Display all Columns 
pd.pandas.set_option('display.max_columns',None)
#Display all Rows
pd.pandas.set_option('display.max_rows',None)
#Ignore warnings
import warnings
warnings.filterwarnings("ignore")

##**Loading DataSets**

In [ ]:
VehicleCrashes_df = pd.read_csv("https://media.githubusercontent.com/media/kwrigh8176/DATA601DATA/main/Maryland_Statewide_Vehicle_Crashes.csv",low_memory=False)

PersonalDetails_df = pd.read_csv("https://media.githubusercontent.com/media/kwrigh8176/DATA601DATA/main/Maryland_Statewide_Vehicle_Crashes_-_Person_Details__Anonymized.csv",low_memory=False)

VehicleDetails_df =  pd.read_csv("https://media.githubusercontent.com/media/kwrigh8176/DATA601DATA/main/Maryland_Statewide_Vehicle_Crashes_-_Vehicle_Details.csv",low_memory=False)

In [ ]:
print(f"Shape of VehicleCrashes_df  : ",VehicleCrashes_df.shape)
print(f"Shape of PersonalDetails_df : ",PersonalDetails_df.shape)
print(f"Shape of VehicleDetails_df  : ",VehicleDetails_df.shape)

##These are the three Data sets we will be working which contains Records of the year 2020 and 2021
Filtering the years 2020 and 2021 patterns from all the datasets to understand the pattern of crashes, causes and reasons of crashes

In [ ]:
#It takes only those rows which have 2020 and 2021 in column 'YEAR'
#Filtering based on the years 2020 and 2021
VehicleCrashes = VehicleCrashes_df[VehicleCrashes_df['YEAR'].isin([2020,2021])]  

PersonalDetails = PersonalDetails_df[PersonalDetails_df['YEAR'].isin([2020,2021])]

VehicleDetails = VehicleDetails_df[VehicleDetails_df['YEAR'].isin([2020,2021])]

Printing the shape of the datasets after extracting only 2020 and 2021 data

In [ ]:
print(f"Shape of VehicleCrashes  : ",VehicleCrashes.shape)
print(f"Shape of PersonalDetails : ",PersonalDetails.shape)
print(f"Shape of VehicleDetails  : ",VehicleDetails.shape)

##Checking for the null values in the datasets of 2020 and 2021

In [ ]:
print(VehicleCrashes.isnull().sum())
print("==================================================")
print(PersonalDetails.isnull().sum())

print("==================================================")
print(VehicleDetails.isnull().sum())


## Capitalising column names from all datasets

*  After exploring we come to know that,Every Column in all Three Data Sets is in CAPITAL Except 'Quarter' is small in PersonalDetails and VehicleDetails Data Sets. 
*   To simplify and to avoid any case sensitive and syntax issues we will be capitalizing all the columns to capitals
*   So we will Capitalize only Quarter Column

In [ ]:
PersonalDetails = PersonalDetails.rename({'Quarter':'QUARTER'},axis = 1)
VehicleDetails = VehicleDetails.rename({'Quarter':'QUARTER'},axis =1)

## Checking Common Columns

In [ ]:
def VehicleCrasheandPersonalDetails():
  print('Common Columns of VehicleCrashes  and PersonalDetails Data Set: \n')
  for i in VehicleCrashes.columns:
    for j in PersonalDetails.columns:
            if i == j:
                print("\t",i)
                

def VehicleCrashesandVehicleDetails():
  print("\nCommon Columns of  VehicleCrashes and VehicleDetails Data Set: \n")
  for i in VehicleCrashes.columns:
    for j in VehicleDetails.columns:
        if i == j:
            print("\t",i)
            

def PersonalDetailsandVehicleDetails():
  print("\nCommon Columns of PersonalDetails and VehicleDetails Data Set: \n")
  for i in VehicleDetails.columns:
          for j in PersonalDetails.columns:
              if i == j:
                  print("\t",i)
                  
            
VehicleCrasheandPersonalDetails()
VehicleCrashesandVehicleDetails()
PersonalDetailsandVehicleDetails()

### Getting the Overview of Each Columns from every Data Sets, So that we can perform our Data Analysis Effectively

In [ ]:
print("(VehicleCrashes DataSet)\n",VehicleCrashes.columns)
print("===============================================================================\n")
print("(PersonalDetails DataSet)\n",PersonalDetails.columns)
print("===============================================================================\n")
print("(VehicleDetails DataSet)\n",VehicleDetails.columns)

Adding extra column ACCIDENT_DATETIME which will be the combination of ACC_DATE and ACC_TIME
We could use this column in the future to get the overview of Accident happened at what Date,year,month, Time

In [ ]:
VehicleCrashes['ACCIDENT_DATETIME'] = pd.to_datetime(VehicleCrashes.ACC_DATE.astype(str)+' '+VehicleCrashes.ACC_TIME.astype(str))
VehicleCrashes.head(2)

# **Merging**

####Merging of PersonalDetails and VehicleDetails datasets of years 2020 and 2021

In [ ]:
#Merging Vehicle details and Personal details datasets
Vehicle_Personal_Details = pd.merge(VehicleDetails, PersonalDetails, how = 'outer', on = ['MOVEMENT_CODE', 'MOVEMENT_DESC', 'QUARTER', 'REPORT_NO','VEHICLE_ID', 'YEAR'])
Vehicle_Personal_Details.shape

####Merging all three datasets: Vehicle Crashes, Vehicle Details and Personal Details to understand the relations and patterns of the data

In [ ]:
Super_Merge = pd.merge(Vehicle_Personal_Details, VehicleCrashes, how = 'outer', on = ['QUARTER', 'REPORT_NO', 'YEAR'])
print(f"Shape of Merged data  : ", Super_Merge.shape)
print("================================================")
Super_Merge.head(4)

# **Data Cleaning**

##Step 1: Removing of Redundant columns from the merged datasets of 2020 and 2021

In [ ]:
## Removing the Redundant Columns and Selecting the columns which would be using  as per our story Analysis.

Super_Merge_df = Super_Merge[['REPORT_NO','QUARTER','ACCIDENT_DATETIME','LOCATION','LATITUDE','LONGITUDE','MAINROAD_NAME','AGENCY_CODE','AREA_CODE','REPORT_TYPE','WEATHER_DESC','WEATHER_CODE','RD_DIV_DESC','RD_DIV_CODE','LANE_DESC','LANE_CODE','COLLISION_TYPE_DESC','COLLISION_TYPE_CODE','JUNCTION_DESC','JUNCTION_CODE','COUNTY_DESC','COUNTY_NO','LIGHT_DESC','LIGHT_CODE','DATE_OF_BIRTH','SEX_DESC','SEX_CODE','YEAR','AREA_DAMAGED_CODE_MAIN_DESC','AREA_DAMAGED_CODE_MAIN','SPEED_LIMIT','VEH_YEAR','VEH_MAKE','VEH_MODEL','PERSON_TYPE_DESC','SAF_EQUIP_DESC','LICENSE_STATE_CODE','EJECT_DESC','EQUIP_PROB_DESC','DRUG_TESTRESULT_DESC','DAMAGE_DESC','CONTI_DIRECTION_DESC','INJ_SEVER_CODE']]

print(f"Shape of Merged datasets with relevant data", Super_Merge_df.shape)
print("==================================================================")
#Super_Merge_df.head()

## Step 2: Checking for Duplicate data and dropping the duplicate data from the merged datasets

In [ ]:
## Checking the Count Of Duplicate Values in the above data set

Super_Merge_df.duplicated().value_counts()

In [ ]:
## Dropping the Duplicate records
Super_Merge_df = Super_Merge_df.drop_duplicates()

In [ ]:
# After Removing the duplicates
Super_Merge_df.duplicated().value_counts()

##Step 3: Handling missing values for few columns from the merged datasets

In [ ]:
## We will try to look it into the column 'DRUG_TESTRESULT_DESC'
## There are many Nan Values

Super_Merge_df.DRUG_TESTRESULT_DESC.value_counts(dropna = False)

In [ ]:
#### Filling of missing values for Drug test results 
#### Nan with Not reported
Super_Merge_df['DRUG_TESTRESULT_DESC'] = Super_Merge_df['DRUG_TESTRESULT_DESC'].fillna("Not Reported")
#### Now Nan values will be replaced

Super_Merge_df.DRUG_TESTRESULT_DESC.value_counts(dropna = False)

In [ ]:
### Filling of missing values for light conditions 
#### Nan with Not mentioned
Super_Merge_df['LIGHT_DESC'] = Super_Merge_df['LIGHT_DESC'].fillna("Not mentioned")
#### Now Nan values will be replaced

Super_Merge_df.LIGHT_DESC.value_counts(dropna = False)

In [ ]:
##  'VEH_YEAR'
#### Nan Values are replaced with o
Super_Merge_df['VEH_YEAR'] = Super_Merge_df['VEH_YEAR'].fillna(0)

Super_Merge_df.VEH_YEAR.value_counts(dropna = False).head()

# **EDA (Exploratory Data Analysis)**

Printing the first five rows of merged and cleaned datasets

In [ ]:
#Getting the Top 5 records to explore the data set
Super_Merge_df.head()

In [ ]:
## Concise summary of a DataFrame.
##  info related to datatypes, null value etc
Super_Merge_df.info(verbose=True)

#### Created datasets to analyze data seperately for years 2020 and 2021

In [ ]:
year_2020 = Super_Merge_df[Super_Merge_df.YEAR == 2020]
year_2021 = Super_Merge_df[Super_Merge_df.YEAR == 2021]

**Heat map for null values**

Vizualizing all the null values after merging and data cleaning, to check the reliability of columns.

In [ ]:
#Some columns are having missing values
#color with blacks are having least numbr of null values and white color with more null values
plt.figure(figsize=(20,12))
sns.heatmap(Super_Merge_df.isnull(), yticklabels=False)

**From the trends in data, 2020 and 2021 years had Lowest number of crashes. So, we will be exploring more from the 2020 and 2021 data**
**Note: Only for this we have used VehicleCrashes Dataset. BUT for our entire Project we will be using all the three data sets**

From the pattern, 2020 and 2021 recorded less number of crashes

In [ ]:
plt.figure(figsize=(18,6))
ax = sns.countplot(data=VehicleCrashes_df,x='YEAR',order = VehicleCrashes_df['YEAR'].value_counts().index)
ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
ax.set_title('\nVehicle crashes in the past 7 years in Maryland USA\n', fontsize=20);
plt.show()

# **In sights:**

##Location Analysis

In [ ]:

## 1) Accidents happened in the year '2020 and 2021'
plt.figure(figsize=(16,4))
ax = sns.countplot(data=Super_Merge_df,x='COUNTY_DESC',order = Super_Merge_df['COUNTY_DESC'].value_counts().index)
ax.set_xticklabels(ax.get_xticklabels(), rotation=90)
ax.set_title('Accidents in different Counties in 2020 and 2021')
plt.show()

According to Maryland demographics even though Montgomery county is the highest populous county in maryland in terms of crashes it is ranked 4th.
Reference: https://www.maryland-demographics.com/counties_by_population

In [ ]:
new_var = Super_Merge_df.groupby(['COUNTY_DESC','WEATHER_DESC']).filter(lambda x: (x["WEATHER_DESC"] == "Raining").any())
countywise_rain = new_var.groupby(['COUNTY_DESC','WEATHER_DESC']).size().sort_values(ascending = False)
countywise_rain

##Minimum speed limit recorded for crashes is '0'; maximum is '75' from years 2020 and 2021

In [ ]:
#Understanding the patterns of minimum, maximum, standard deviation and mean of the data
Super_Merge_df.describe()

##Crashes Distribution on weather in years 2020 and 2021:
"Raining" is the weather that recorded many accidents. while the lowest is recorded in "Blow sand soil, dirt"

In [ ]:
#Crashes Distribution on weather in years 2020 and 2021
f,ax=plt.subplots(1,1,figsize=(20,10))
sns.countplot(Super_Merge_df['WEATHER_DESC'],ax=ax,order=Super_Merge_df['WEATHER_DESC'].value_counts().index)
plt.yticks(np.arange(0, max(Super_Merge_df['WEATHER_DESC'].value_counts().values)+5000, 5000))
ax.set_title('Crashes Distribution on weather in years 2020 and 2021')
plt.show()

##Number of accidents occuried at various counties due to weather conditions

In [ ]:
#relational plot for County and weather conditions
dz = sns.relplot(x="WEATHER_DESC", y="COUNTY_DESC",  kind="line",height = 5, aspect = 3, data=Super_Merge_df)

## Quarterly Analysis of Accidents in Rainy Weather

In [ ]:
#categorical variables in each quarters for the year 2020 and 2021

year_2020_quarter = year_2020.QUARTER.value_counts()
year_2021_quarter = year_2021.QUARTER.value_counts()





#1,2,tight_layout=True,figsize=(18,6)
fig  = plt.figure()
fig2  =plt.figure()

plt.subplot(1,2,1)
plt.bar(year_2020_quarter.index, year_2020_quarter.values, width=0.2, color='b', align='center')

plt.title("Reported accidents in 2020.")
plt.yticks(np.arange(0, max(year_2021_quarter.values)+10000, 10000))
plt.xlabel('Quarters')
plt.ylabel('Accidents Reported')

plt.subplot(1,2,2)
plt.bar(year_2021_quarter.index, year_2021_quarter.values, width=-0.2, color='orange', align='center')
plt.title("Reported accidents in 2021.")
plt.yticks(np.arange(0, max(year_2021_quarter.values)+10000, 10000))
plt.xlabel('Quarters')
plt.ylabel('Accidents Reported')

plt.tight_layout()
plt.show()

#Q1 of 2021 had way less crashes than the other two quarters
#Way less crashes in Q2 of 2020 than the other quarters

In [ ]:
#categorical variables in each quarters for the year 2020 and 2021

fig, ax = plt.subplots(1,2,tight_layout=True,figsize=(18,6))

ax1 = sns.countplot(data=year_2020,x='QUARTER', hue='WEATHER_DESC',ax=ax[0],order = year_2020['QUARTER'].value_counts().index)
ax1.set_xticklabels(ax1.get_xticklabels(), rotation=0)
ax1.set_title('Weather in Different Quarters in 2020')
ax1.legend(loc = 'upper right', title = 'WEATHER_DESC' )

ax1.set_xlabel('Quarters')
ax1.set_ylabel('Accidents Reported')

ax2 = sns.countplot(data=year_2021,x='QUARTER', hue='WEATHER_DESC', ax=ax[1],order = year_2021['QUARTER'].value_counts().index)
ax2.set_xticklabels(ax2.get_xticklabels(), rotation=0)
ax2.set_title('Weather in Different Quarters in 2021')
ax2.set_xlabel('Quarters')
ax2.set_ylabel('Accidents Reported')


fig.show()

Note how much higher the Q1 2020 rainfall accidents reported are compared to the Q3 and Q4 

Q1 2020 had less reports, but the amount of reports based on rainfall were much higher than the other quarters (almost a difference of 2000 compared to Q3/Q4 and 7000 compared to Q2)

In [ ]:
#2020

new_var = year_2020.groupby(['QUARTER','WEATHER_DESC']).filter(lambda x: (x["WEATHER_DESC"] == "Raining").any())
year_2020_weather_quarter = new_var.groupby(['QUARTER','WEATHER_DESC']).size().sort_values(ascending = False)
year_2020_weather_quarter

In [ ]:
#2021

new_var = year_2021.groupby(['QUARTER','WEATHER_DESC']).filter(lambda x: (x["WEATHER_DESC"] == "Raining").any())
year_2021_weather_quarter = new_var.groupby(['QUARTER','WEATHER_DESC']).size().sort_values(ascending = False)

year_2021_weather_quarter

#2000 more rain accidents in Q2 2021 than Q2 2020

## Fatalities in the year when the condition is "Raining" in each quarters for the year 2020

In [ ]:
#2020

new_var = year_2020.groupby(['QUARTER','INJ_SEVER_CODE']).filter(lambda x: (x["WEATHER_DESC"] == "Raining").any() and (x["INJ_SEVER_CODE"] == 5.0).any())
year_2020_weather_quarter_injuries = new_var.groupby(['QUARTER','INJ_SEVER_CODE']).size()
year_2020_weather_quarter_injuries.plot(kind = "bar", xlabel = "Quarter", ylabel = 'Fatalities',title = "2020 Fatalities in each Quarter (only when Raining)")
plt.yticks(np.arange(0, max(year_2020_weather_quarter_injuries)+1, 10))
plt.xticks([0,1,2,3],['Q1','Q2','Q3','Q4'], rotation=0)
plt.show()
#Weird quarter 1 of 2020 had a large quantity of rain, but not many fatalities what gives?

###More fatalities than Q3 than Q4:
Quarter 3 and Quarter 4 recorded many number of fatalities for the year 2020 and 2021 when the weather condition is "Raining"

In [ ]:
new_var = year_2020.groupby(['QUARTER','INJ_SEVER_CODE','LIGHT_DESC']).filter(lambda x: (x["WEATHER_DESC"] == "Raining").any() and (x["INJ_SEVER_CODE"] == 5.0).any() and (x["LIGHT_DESC"] != 'Daylight').any())
new_var = new_var.groupby(['QUARTER','INJ_SEVER_CODE','LIGHT_DESC']).size().sort_values(ascending = True)


Q1_dark = new_var['Q1'][5.0]["Dark No Lights"] + new_var['Q1'][5.0]["Dark Lights On"]
Q2_dark = new_var['Q2'][5.0]["Dark Lights On"]
Q3_dark = new_var['Q3'][5.0]["Dark No Lights"] + new_var['Q3'][5.0]["Dark Lights On"]
Q4_dark = new_var['Q4'][5.0]["Dark No Lights"] + new_var['Q4'][5.0]["Dark Lights On"]

data = [['Q1', Q1_dark ],['Q2', Q2_dark ], ['Q3', Q3_dark ], ['Q4', Q4_dark ]]

new_df = pd.DataFrame(data, columns = ['Quarter', 'Fatalities'])

plt.bar(new_df.Quarter.values,new_df.Fatalities.values)
plt.xlabel('Quarters')
plt.ylabel('Fatalities')
plt.title('2020 Quarterly Fatalities (Dark/Raining)')
plt.yticks(np.arange(0,max(new_df.Fatalities.values),5))

plt.show()

# **Insight Summary**

**Location Analysis**

The counties where there was more rainfall had more crashes, a clear indication of how weather in this rain has an impact on crashes.

**Minimum and maximum speedlimit for crashes**

We would in general think that most crashes happen under high speeds but it is interesting to note that it is not always the case.

**Crashes distribution on weather**

Adding to the location analysis, in maryland as a whole there were more crashes when the weather was "raining" and least when it was "Blow sand soil, dirt"

**Quaterly Analysis of Crashes under rain**

**Fatalities when the condition is "Raining" in each quarters for the year 2020**

# **Reasoning and Conclusion**




*   Pandemic's influence on total number of accident reports.
*   Maryland's dominant weather under crashes being rain.


*   Rainy weather is not an outright cause for driving related deaths.
*   Rainy weather's lethality when paired with driving at night.

*   Possible influence from summer break in Q3.
*   Possible influence from the holidays (Halloween, Thanksgiving, Christmas) in Q4.